{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "prettier",
  ],
  "plugins": [
    "jest",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "env": {
    "node": true,
    "jest/globals": true,
    "es6": true,
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "off",
    "no-unused-vars": [2, { "args": "none" }],
    "no-use-before-define": "error",
    "no-prototype-builtins": "off",
    "prefer-const": "off",
    "no-constant-condition": "off",

    "import/first": "error",
    "import/order": ["error", { "groups": [["builtin", "external", "internal"]] }],
    "import/newline-after-import": "error",
  },
}
